
.portfolio h2{
	font: bold 1.857142857142857em 'Helvetica Neue', Helvetica, Arial, sans-serif;  /*26/14*/
	margin-top: 1.730769230769231em; /* 45/26*/
	padding-bottom:0.9615384615384615em; /*25/26*/
	border-bottom: 1px solid #f2f2f2; 
	margin-bottom:0.9615384615384615em; /*25/26*/
}

.blue-underline{
	color: #59b4eb;
	border-bottom: 2px solid #59b4eb;
	text-decoration: underline;
}

.section-subheading{
	font: normal 1.142857142857143em 'Helvetica Neue', Helvetica, Arial, sans-serif;  /*16/14*/
	color:#656565;
	margin-bottom: 3.125em; /*50/16*/
}

.item-info h3{
	font: bold 1.571428571428571em 'Helvetica Neue', Helvetica, Arial, sans-serif;  /*22/14*/;
}

.item-info p{
	font: normal 1.071428571428571em 'Helvetica Neue', Helvetica, Arial, sans-serif;  /*16/14*/
	color:#656565;
	margin-bottom: 0.9285714285714286em;  /*13/14*/
	line-height: 1.428571428571429em;  /*20/14*/
}

.btn-primary{
	background-color: #418bcb;
}

.portfolio-item{
	margin-bottom: 4.642857142857143em;  /*65/14*/
}

.circle-border{
	width: 214px;
	height: 214px;
	border-radius: 50%;
	padding: 5px;
	border:1px solid #dfdede;
	
}